:root {
    --light-color: #F4F4FD;
    --dark-color: #2E2F42; 
    --primary-brand-color: #4D5AE5;
    --text-color: #434455;
    --accent-color: #E7E9FC;
    --light-text: #FFFFFF;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

button {
    cursor: pointer;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* nav—ñ */
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 1158px;
}

/* WEB - header*/
header .container {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    flex-wrap: wrap;
}

.nav-panel {
    display: flex;
}

.logo-header {
    display: flex; 
    align-items: flex-start;
    padding: 0px;
    margin-right: 76px;
    
    color: var(--primary-brand-color);
}
 
/* STUDIO - header */
.studio-header {
    color: var(--dark-color);
}

 /* logo - header */
 .logo-header, 
 .studio-header {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
 }

/* navigation */
.menu-nav {
    display: flex;
    
    width: 261px;
}

.menu-item {
    margin-right: 40px;
    padding: 0px;
}

.menu {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    
    color: var(--dark-color);
    font-weight: 500;
    line-height: 1.5;
}

.menu:hover,
.menu:focus {
    color: var(--text-color);
}

.menu:active { 
    color: var(--primary-brand-color);
}
/* contacts */
.contact-nav {
    display: flex;
    gap: 40px;
}

.contacts {
    color: var(--text-color);
    line-height: 1.5;
}

.contacts:hover, 
.contacts:focus {
    color: var(--primary-brand-color);
}

/* header */
.header {
    padding: 192px 0;
    
    height: 600px;
    background-color: var(--dark-color);

    text-align: center;
    
}

.header-tittle { 
    margin: 0 auto;
    padding-bottom: 48px;
    max-width: 494px;            
    color: var(--light-text);

    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    
}

.header-button {
    display: inline-block;
    border: 1px solid transparent;
    border-color: var(--primary-brand-color);
    border-radius: 6px;
    padding: 16px 32px;
    min-width: 169px;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--light-text);
    background-color:var(--primary-brand-color);
    font-weight: 500;
    line-height: 1.19;
   
}

.header-button:hover,
.header-button:focus,
.header-button:active {
    background-color: #404BBF;
}

/* features */
.feature-list{
    display: flex;
    gap: 24px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-list-item {
    flex-basis: calc((100% - 3*24px)/4);
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.features-title,
.team-card-title {
    padding-bottom: 8px;

    color: var(--dark-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.features-text,
.team-specialization {
    line-height: 1.5;
}

/* What are we doing */
.second-title,
.team-title {
    padding-top: 120px;
    padding-bottom: 72px;
    color: var(--dark-color);
    
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
}

.image-list {
    display: flex;
    padding-bottom: 120px;
}

/* /Our team */
.team {
    background-color: var(--light-color);
}

.team-card-list {
    display: flex;
    gap: 24px;
   padding-bottom: 120px;
}

.team-card-link {
    flex-basis: calc((100% - 3*24px)/4);
    background-color: var(--light-text);
}

.card-content {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}

 /* footer */
.footer {
    background-color: var(--dark-color);
    border: 1px solid #000000;
}

footer .container {
    padding-top: 100px; 
    padding-bottom: 100px;
}

.logo-footer {
    color: var(--primary-brand-color);
}

.studio-footer {
    color: var(--light-color);
}

.logo-footer, .studio-footer {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
}

.footer-text {
    margin: 0;
    padding-top: 16px;
    width: 264px;
    color: var(--accent-color);
    line-height: 1.5;    
}

/* PORTFOLIO */
/* header */
/* filters */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.buttton-list {
    display: flex;
    justify-content: center;
}

.filters-button {
    display: inline-block;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    padding: 12px 24px;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--primary-brand-color);
    background-color: var(--light-color);
    font-weight: 500;
    line-height: 1.5;
    
    text-align: center;
}

.filters-button:hover,
.filters-button:focus {
    color: var(--light-text);
    background-color: var(--primary-brand-color);
}

.card-app {
    color: var(--text-color);
    line-height: 1.5;
}


